<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Project 2</title>
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/css/uikit.min.css" />
</head>
<body>
<nav class="uk-navbar-container uk-margin-left uk-margin-right uk-margin-bottom " uk-navbar >
	<div class="uk-navbar-left">
		<ul class="uk-navbar-nav">
			<li><a href="/posts" uk-icon="icon: copy"></a></li>
			<li><a  uk-icon="icon: plus" href="/posts/new"></a></li>
			<li><a  uk-icon="icon: github" href="#"></a></li>
			<li><a  uk-icon="icon: linkedin" href="#"></a></li>
			<li><a  uk-icon="icon: whatsapp" href="#"></a></li>
			<li>
				<a href="#">More...</a>
				<div class="uk-navbar-dropdown">
					<ul class="uk-nav uk-navbar-dropdown-nav">
						<li><a href="/posts">About This Project</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<a class="uk-navbar-item uk-navbar-center uk-logo" href="/"><span uk-icon="code" ></span></a>
	<div class="uk-navbar-right">
		{{#if user}}
			<div class="uk-width-auto"><img class="uk-border-circle" width="40" height="40" src="{{user.image}}"></div>
			<ul class="uk-navbar-nav">
				<li> <a href=""> Hi, {{user.firstName}}</a></li>
				<li><a href="/auth/logout">Logout</a></li>
			</ul>
		{{else}}
			{{!-- <ul class="uk-navbar-nav">

				<li> <a href="/auth/google">Log in</a></li>
			</ul> --}}
				<a href="/auth/google" class="uk-icon-button uk-margin-small-right" uk-icon="google"></a>

		{{/if}}
	</div>
</nav>


<div class="uk-container uk-container-xsmall uk-margin">
	{{{body}}}
</div>
	<!-- UIkit JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/js/uikit-icons.min.js"></script>
	{{!-- CDN CKEDITOR--}}
	<script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
			<script>
			ClassicEditor
				.create( document.querySelector( '#editor' ) )
				.then( editor => {
					console.log( editor );
				} )
				.catch( error => {
					console.error( error );
				} );

			
		  </script>


</body>
</html>