@media only screen and (max-width: 1200px) {
	#aurelien-rosaz {
		/* background-color: lightblue; */
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	.uk-navbar-left, .uk-navbar-left {
		/* background-color: lightblue; */
		display: none;
	}
}

.uk-grid-carrousel {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 5px;
	list-style: none;
	align-items: center;
}