<h2>Write a new entry</h2>
<form class="uk-form-stacked" action="/posts/new" method="POST" id="formName">

		<div class="uk-margin">
				<label class="uk-form-label" for="form-stacked-text">Title</label>
				<div class="uk-form-controls">
						<input name="pTitle" class="uk-input" id="form-stacked-text" type="text" placeholder="Your posts title...">
				</div>
		</div>

		<div class="uk-margin">
				<label class="uk-form-label" for="form-stacked-text">Description</label>
				<div class="uk-form-controls">
						<input name="pDescription" class="uk-input" id="form-stacked-text" type="text" placeholder="A short description (optional)...">
				</div>
		</div>

		<div class="uk-margin">
				<div class="uk-form-label">Post Body</div>
				<div class="uk-form-controls">
						<textarea name="pBody" id="editor" class="uk-textarea"></textarea>
				</div>
		</div>

		<div class="uk-margin">
				<label class="uk-form-label" for="form-stacked-text">Image URL</label>
				<div class="uk-form-controls">
						<input name="pImage" class="uk-input" id="form-stacked-text" type="text" placeholder="Your URL...">
				</div>
		</div>

		<div class="uk-margin">
				<label class="uk-form-label" for="form-stacked-text">Add an Image</label>
				<div class="uk-form-controls add-image"></div>
				<hr>
		</div>


		<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
			<label><input class="uk-radio" type="radio" name="pAllowComments" value="true" checked> Allow comments</label>
			<label><input class="uk-radio" type="radio" name="pAllowComments" value="false" > disable comments</label>
		</div>

		<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
			<label><input class="uk-radio" type="radio" name="pIsPublished" value="true" checked>Published</label>
			<label><input class="uk-radio" type="radio" name="pIsPublished" value="false">Unpublished</label>
		</div>

	

</form>

		<div class="uk-margin">					
				<button type="submit" form="formName" class="uk-button uk-button-primary"></a> Submit </button>
				<button id="images" class="add-btn uk-button uk-button-text">Add Image</button>
		</div>

<script>
const postAddBtn = document.querySelector(".add-btn")
const imageList = document.querySelector(".add-image");

postAddBtn.onclick = function () {
  const newImageTag = document.createElement("div");
	newImageTag.innerHTML = '<input name="pImagePortfolio" class="uk-input" id="form-stacked-text" type="text" placeholder="Your URL..."><a  class="uk-button uk-button-text uk-align-center rmv-btn" uk-icon="icon: trash"></a><hr>';
  imageList.appendChild(newImageTag);
}

</script>
